@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  color: #fff;
}

img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", serif;
  line-height: 1.7;
  color: #fff;
  background-color: #1f2641;
}

.container {
  width: 80%;
  margin: 0 auto;
}

section {
  padding: 6rem 0;
}
section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

.btn {
  display: inline-block;
  background-color: #fff;
  color: #000;
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.btn:hover {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}

.btn-primary {
  background-color: #f75842;
  color: #fff;
}

nav {
  background-color: transparent;
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
nav h4 {
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
nav h4:hover {
  color: #f75842;
}

.window-scroll {
  background-color: #6c63ff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.nav__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__container button {
  display: none;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
}
.nav__menu a {
  font-size: 0.9rem;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.nav__menu a:hover {
  color: #424890;
}

header {
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 5rem;
}

.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5rem 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
  height: 100%;
}

.header__left p {
  margin: 1rem 0 2.4rem;
}

.categories {
  background-color: #2e3267;
  height: 32rem;
}
.categories h1 {
  line-height: 1;
  margin-bottom: 3rem;
}

.categories__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
  grid-template-columns: 40% 60%;
}

.categories__left {
  margin-right: 4rem;
}
.categories__left p {
  margin: 1rem 0 3rem;
}

.categories__right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.2rem 1fr 1.2rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.category {
  background-color: #424890;
  padding: 2rem;
  border-radius: 2rem;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.category:hover {
  -webkit-box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.category:nth-child(2) .category__icon {
  background-color: #f75842;
}
.category:nth-child(3) .category__icon {
  background-color: #00bf8e;
}
.category:nth-child(4) .category__icon {
  background-color: #f7c94b;
}
.category:nth-child(5) .category__icon {
  background-color: #00bf8e;
}
.category h5 {
  margin: 2rem 0 1rem;
}
.category p {
  font-size: 0.85rem;
}

.category__icon {
  background-color: #6c63ff;
  padding: 0.7rem;
  border-radius: 0.9rem;
}

.courses {
  margin-top: 10rem;
}

.courses__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.course {
  background-color: #2e3267;
  text-align: center;
  border: 1px solid transparent;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.course:hover {
  background-color: transparent;
  border-color: #6c63ff;
}

.course__info {
  padding: 2rem;
}
.course__info p {
  margin: 1.2rem 0 2rem;
  font-size: 0.9rem;
}

.faqs {
  background-color: #2e3267;
  -webkit-box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faqs__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.faq {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.4rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #6c63ff;
  cursor: pointer;
}
.faq h4 {
  font-size: 1rem;
  line-height: 2.2;
}
.faq p {
  margin-top: 0.8rem;
  display: none;
}

.faq__icon {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 1.2rem;
}

.faq.open p {
  display: block;
}

.testimonials__container {
  overflow-x: hidden;
  position: relative;
  margin-bottom: 5rem;
}

.testimonial {
  padding-top: 2rem;
}

.avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1rem;
  border: 1rem solid #2e3267;
}

.testimonial__info {
  text-align: center;
}

.testimonial__body {
  background-color: #6c63ff;
  padding: 2rem;
  margin-top: 3rem;
  position: relative;
}
.testimonial__body::before {
  content: "";
  display: block;
  background-color: #6c63ff;
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 46%;
  top: -1.5rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

footer {
  background-color: #2e3267;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 0.9rem;
}
footer ul li {
  margin-bottom: 0.7rem;
}
footer a:hover {
  text-decoration: underline;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5rem 1fr 5rem 1fr 5rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.footer__container > div h4 {
  margin-bottom: 1.4rem;
}

.footer__1 {
  margin: 0 0 2rem;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 90%;
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  .nav__container button {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
  }
  .nav__container button#close-menu-btn {
    display: none;
  }
  .nav__menu {
    position: fixed;
    top: 5rem;
    right: 5%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 18rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    display: none;
  }
  .nav__menu li {
    width: 100%;
    height: 5.8rem;
    -webkit-animation: animateNavItems 400ms linear forwards;
            animation: animateNavItems 400ms linear forwards;
    -webkit-transform-origin: top right;
            transform-origin: top right;
    opacity: 0;
  }
  .nav__menu li:nth-child(2) {
    -webkit-animation-delay: 200ms;
            animation-delay: 200ms;
  }
  .nav__menu li:nth-child(3) {
    -webkit-animation-delay: 400ms;
            animation-delay: 400ms;
  }
  .nav__menu li:nth-child(4) {
    -webkit-animation-delay: 600ms;
            animation-delay: 600ms;
  }
  .nav__menu li a {
    background-color: #6c63ff;
    -webkit-box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
            box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .nav__menu li a:hover {
    background-color: #424890;
    color: #fff;
  }
  @-webkit-keyframes animateNavItems {
    0% {
      -webkit-transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
              transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
    }
    100% {
      -webkit-transform: rotateZ(0) rotateX(0) scale(1);
              transform: rotateZ(0) rotateX(0) scale(1);
      opacity: 1;
    }
  }
  @keyframes animateNavItems {
    0% {
      -webkit-transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
              transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
    }
    100% {
      -webkit-transform: rotateZ(0) rotateX(0) scale(1);
              transform: rotateZ(0) rotateX(0) scale(1);
      opacity: 1;
    }
  }
  header {
    height: 52vh;
    margin-bottom: 4rem;
  }
  .header__container {
    gap: 0;
    padding-bottom: 3rem;
  }
  .categories {
    height: auto;
  }
  .categories__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .categories__left {
    margin-right: 0;
  }
  .courses {
    margin-top: 0;
  }
  .courses__container {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .faqs__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .faq {
    padding: 1.5rem;
  }
  .footer__container {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: 94%;
  }
  .nav__menu {
    right: 3%;
  }
  header {
    height: 100vh;
  }
  .header__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 0;
  }
  .header__left p {
    margin-bottom: 1.3rem;
  }
  .categories__right {
    -ms-grid-columns: 1fr 0.7rem 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
  }
  .category {
    padding: 1rem;
    border-radius: 1rem;
  }
  .category__icon {
    margin-top: 4px;
    display: inline-block;
  }
  .courses__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .testimonial__body {
    padding: 1.2rem;
  }
  .footer__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
  }
  .footer__1 p {
    margin: 1rem auto;
  }
  .footer__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}